#wrapper {
	width: 800px;
	margin: 50px auto;
	border: 1px solid #000;
}
#menu {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
	background-color: #484848;
}
#menu a {
	display: flex;
	justify-content: center;
	padding: 10px 20px;
	font: bold 14px arial;
	text-decoration: none;
	color: #ffffff;
}
#menu a:hover, #menu a.active {
	color: #484848;
	background-color: #fff;
}
#content {
	padding: 0 7px 0;
}
#content h1 {
	text-align: center;
}
#content p {
	font: 16px;
	padding: 0 2px;
}
#content p a {
	text-decoration: none;
	color: blue;
}
#content p a:hover {
	text-decoration: underline;
	color: green;
}